# document count update


- Name: **Shengqian Wang**
- Github username: **Objqian**

In [1]:
import pandas as pd
#import geopandas as gpd
from matplotlib import pyplot as plt
import numpy as np
pd.options.display.max_columns = 999
#import hvplot.pandas
import folium
import nltk
import string
#import carto2gpd
#from datetime import datetime
#from datetime import date
#from sklearn.cluster import dbscan 
np.random.seed(42)
import json
import requests
import geopandas as gpd

from shapely.geometry import MultiPolygon, Polygon

from shapely import wkt

Import **try** - csv and  **two** shp

In [10]:
try10 = pd.read_csv(r'D:\OneDrive - PennO365\penn\5th\LARP 701\greenland_fin.csv')
#view try0 in a new window
#try10 = try10[4:12]
try10

two = gpd.read_file(r'D:\OneDrive - PennO365\penn\5th\LARP 701\world_final.shp')
# rebane To_Country to Country
#two = two.rename(columns={'To_Country': 'Country'})
# join the geodataframe with the cleaned up csv dataframe
#two = try10.join(two.set_index('Country'), on='Country') #我觉得也可以等到最后一起join
two

,To_Country,continent,area_km2,pop,lifeExp,gdpPercap,geometry
0,Canada,America,1.003604e+07,3.553535e+07,81.953049,43079.142525,"MULTIPOLYGON (((-132.71001 54.04001, -131.7499..."
1,United States,America,9.510744e+06,3.186225e+08,78.841463,51921.984639,"MULTIPOLYGON (((-171.73166 63.78252, -171.1144..."
2,Somalia,Africa,4.843328e+05,1.351312e+07,55.467000,0.000000,"POLYGON ((41.58513 -1.68325, 40.99300 -0.85829..."
3,Russian Federation,Europe,1.701851e+07,1.438197e+08,70.743659,25284.586202,"MULTIPOLYGON (((179.99999 70.83220, 178.90342 ..."
4,Norway,Europe,3.979946e+05,0.000000e+00,0.000000,0.000000,"MULTIPOLYGON (((15.14282 79.67431, 15.52255 80..."
5,Greenland,Greenland,2.206644e+06,5.629500e+04,0.000000,0.000000,"POLYGON ((-46.76379 82.62796, -43.40644 83.225..."
6,France,Europe,6.448479e+05,0.000000e+00,0.000000,0.000000,"MULTIPOLYGON (((-51.65780 4.15623, -52.24934 3..."
7,Lebanon,Asia,1.009900e+04,5.603279e+06,79.231000,13831.375229,"POLYGON ((35.82110 33.27743, 35.55280 33.26427..."
8,Iraq,Asia,4.369650e+05,3.500608e+07,69.458000,14838.382948,"POLYGON ((39.19547 32.16101, 38.79234 33.37869..."
9,Thailand,Asia,5.101256e+05,6.841677e+07,74.895000,14857.202932,"POLYGON ((105.21878 14.27321, 104.28142 14.416..."
10,Vietnam,Asia,3.359908e+05,9.254492e+07,75.855000,5264.828100,"POLYGON ((104.33433 10.48654, 105.19991 10.889..."
11,India,Asia,3.142892e+06,1.293859e+09,68.021000,5385.141814,"POLYGON ((97.32711 28.26158, 97.40256 27.88254..."
12,Bangladesh,Asia,1.337821e+05,1.594053e+08,71.803000,2973.041565,"POLYGON ((92.67272 22.04124, 92.65226 21.32405..."
13,Pakistan,Asia,8.741200e+05,1.855463e+08,66.139000,4576.227015,"POLYGON ((77.83745 35.49401, 76.87172 34.65354..."
14,Afghanistan,Asia,6.522701e+05,3.275802e+07,62.895000,1838.960244,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
15,Iran,Asia,1.617559e+06,7.841109e+07,75.466000,16924.200678,"POLYGON ((48.56797 29.92678, 48.01457 30.45246..."
16,Syria,Asia,1.850041e+05,1.920309e+07,69.817000,0.000000,"POLYGON ((35.71992 32.70919, 35.70080 32.71601..."
17,Sweden,Europe,4.505816e+05,9.696110e+06,82.253659,44167.631867,"POLYGON ((11.02737 58.85615, 11.46827 59.43239..."
18,Belarus,Europe,2.089698e+05,9.474511e+06,72.970732,17944.209846,"POLYGON ((28.17671 56.16913, 29.22951 55.91834..."
19,Ukraine,Europe,5.725490e+05,4.527195e+07,71.186585,8243.473515,"POLYGON ((35.01266 45.73773, 35.02079 45.65122..."
20,Poland,Europe,3.104023e+05,3.801174e+07,77.602439,24347.073658,"POLYGON ((23.48413 53.91250, 23.52754 53.47012..."
21,Austria,Europe,8.506490e+04,8.546356e+06,81.490244,44320.502013,"POLYGON ((16.97967 48.12350, 16.90375 47.71487..."
22,Hungary,Europe,9.247646e+04,9.866468e+06,75.763415,24161.425524,"POLYGON ((22.08561 48.42226, 22.64082 48.15024..."
23,Romania,Europe,2.383563e+05,1.990898e+07,74.960976,19677.520253,"POLYGON ((28.23355 45.48828, 28.67978 45.30403..."
24,Lithuania,Europe,6.383109e+04,2.932367e+06,74.517073,26258.210097,"POLYGON ((26.49433 55.61511, 26.58828 55.16718..."
25,Latvia,Europe,6.392353e+04,1.993782e+06,74.124390,22172.253508,"POLYGON ((27.28818 57.47453, 27.77002 57.24426..."
26,Estonia,Europe,4.467820e+04,1.314545e+06,77.034146,27113.685921,"POLYGON ((27.98113 59.47537, 27.98112 59.47537..."
27,Germany,Europe,3.574303e+05,8.098250e+07,81.090244,43560.619244,"POLYGON ((14.11969 53.75703, 14.35332 53.24817..."
28,Bulgaria,Europe,1.102169e+05,7.223938e+06,74.465854,16302.320561,"POLYGON ((22.65715 44.23492, 22.94483 43.82379..."
29,Greece,Europe,1.319646e+05,1.089241e+07,81.385366,24081.630538,"MULTIPOLYGON (((22.95238 41.33799, 23.69207 41..."
30,Turkey,Asia,7.988492e+05,7.703063e+07,75.239000,22401.880431,"MULTIPOLYGON (((26.11704 41.82690, 27.13574 42..."
31,Switzerland,Europe,4.618525e+04,8.188649e+06,83.197561,57218.027926,"POLYGON ((9.59423 47.52506, 9.63293 47.34760, ..."
32,Luxembourg,Europe,2.416870e+03,5.563190e+05,82.229268,93655.334163,"POLYGON ((6.04307 50.12805, 6.24275 49.90223, ..."
33,Belgium,Europe,3.012604e+04,1.120906e+07,81.287805,41360.395576,"POLYGON ((6.15666 50.80372, 6.04307 50.12805, ..."
34,Netherlands,Europe,4.002410e+04,1.686501e+07,81.707317,45668.441472,"POLYGON ((6.90514 53.48216, 7.09205 53.14404, ..."
35,Portugal,Europe,9.340859e+04,1.040106e+07,81.121951,26023.697849,"POLYGON ((-9.03482 41.88057, -8.67195 42.13469..."
36,Spain,Europe,5.023065e+05,4.648088e+07,83.229268,31195.405242,"POLYGON ((-7.45373 37.09779, -7.53711 37.42890..."
37,Ireland,Europe,5.845751e+04,4.657740e+06,81.348780,48898.328662,"POLYGON ((-6.19788 53.86757, -6.03299 53.15316..."
38,Sri Lanka,Asia,6.537039e+04,2.077100e+07,74.906000,10650.390178,"POLYGON ((81.78796 7.52306, 81.63732 6.48178, ..."
39,China,Asia,9.409830e+06,1.364270e+09,75.932000,12758.647789,"MULTIPOLYGON (((80.25999 42.35000, 80.18015 42..."
40,Italy,Europe,3.151049e+05,6.078914e+07,83.090244,33945.843878,"MULTIPOLYGON (((8.70999 40.89998, 9.21001 41.2..."
41,Denmark,Denmark,4.275993e+04,5.643475e+06,80.700000,45057.074170,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8..."
42,United Kingdom,Europe,2.499864e+05,6.461316e+07,81.304878,38251.792480,"MULTIPOLYGON (((-6.19788 53.86757, -6.95373 54..."
43,Iceland,Europe,1.077357e+05,3.273860e+05,82.860976,41701.137265,"POLYGON ((-14.50870 66.45589, -14.73964 65.808..."
44,Philippines,Asia,2.922569e+05,1.001022e+08,68.813000,6585.895949,"MULTIPOLYGON (((118.50458 9.31638, 117.17427 8..."
45,Slovenia,Europe,1.911812e+04,2.061980e+06,81.078049,28417.656442,"POLYGON ((13.80648 46.50931, 14.63247 46.43182..."
46,Finland,Europe,3.412423e+05,5.461512e+06,81.180488,39017.537207,"POLYGON ((28.59193 69.06478, 28.44594 68.36461..."
47,Slovakia,Europe,4.706808e+04,5.418649e+06,76.812195,27285.284674,"POLYGON ((22.55814 49.08574, 22.28084 48.82539..."
48,Czech Republic,Europe,8.120760e+04,1.052535e+07,78.824390,29119.616612,"POLYGON ((15.01700 51.10667, 15.49097 50.78473..."
49,Japan,Asia,4.046199e+05,1.272760e+08,83.587805,37337.317406,"MULTIPOLYGON (((132.37118 33.46364, 132.92437 ..."
50,Cyprus,Asia,6.207006e+03,1.152309e+06,80.173000,29786.365653,"POLYGON ((32.73178 35.14003, 32.91957 35.08783..."
51,Morocco,Africa,5.917190e+05,3.431808e+07,75.309000,7078.881489,"POLYGON ((-2.16991 35.16840, -1.79299 34.52792..."
52,Ethiopia,Africa,1.132393e+06,9.736677e+07,64.535000,1424.526984,"POLYGON ((47.78942 8.00300, 44.96360 5.00162, ..."
53,Faroe Islands,Denmark,1.393000e+03,5.473800e+04,83.090000,58585.000000,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61..."
54,Other Africa,Africa,2.773775e+07,2.103643e+07,58.357729,4654.395934,"MULTIPOLYGON (((-16.84152 13.15139, -16.71373 ..."
55,Other America,America,2.049347e+07,2.224555e+07,71.405969,13010.095198,"MULTIPOLYGON (((-71.71236 19.71446, -71.58730 ..."
56,Oceania,Oceania,8.504489e+06,5.393976e+06,73.995679,13566.538068,"MULTIPOLYGON (((166.79316 -15.66881, 166.64986..."
57,Other Europe,Europe,2.962759e+05,3.237697e+06,75.223774,11902.682583,"MULTIPOLYGON (((18.82982 45.90887, 18.82984 45..."
58,Other Asia,Asia,1.237652e+07,2.096941e+07,67.564066,21326.184087,"MULTIPOLYGON (((128.34972 38.61224, 129.21292 ..."

### pivot


tr30 = try0.pivot(index='Country', columns=['Sex','Sta'], values=['2022'])
tr30 = tr30.reset_index()
#tr30 = tr30[0:2]
tr30

In [30]:
try0 = pd.read_csv('E:/Downloads/test1.csv')
#view try0 in a new window
try0 = try0[4:12]
try0

tr30 = try0.pivot(index='Country', columns=['Sex','Sta'], values=['2022'])
tr30 = tr30.reset_index()
#tr30 = tr30[0:2]
tr30

           Country         2022
Sex                         Men                    Women
Sta                Immigrations Emigrations Immigrations Emigrations
0          Denmark            0           0            0           0
1    Faroe Islands            1           0            0           0

## Combine column name with/ with out year

In [31]:
# with year
#tr30.columns = [' '.join(col).strip() for col in tr30.columns.values]
# without year
tr30.columns = [' '.join(col).strip() if '2022' not in col else ' '.join(col[1:]).strip() for col in tr30.columns.values]
tr30

,Country,Men Immigrations,Men Emigrations,Women Immigrations,Women Emigrations
0,Denmark,0,0,0,0
1,Faroe Islands,1,0,0,0

In [33]:
#tr30.reset_index(inplace=True)
each = tr30.join(two.set_index('Country'), on='Country') 
each

,Country,Men Immigrations,Men Emigrations,Women Immigrations,Women Emigrations,continent,area_km2,pop,lifeExp,gdpPercap,geometry
0,Denmark,0,0,0,0,Denmark,42759.927703,5643475.0,80.70,45057.07417,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8..."
1,Faroe Islands,1,0,0,0,Denmark,1393.000000,54738.0,83.09,58585.00000,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61..."

In [81]:
#each.to_json()

TypeError: keys must be str, int, float, bool or None, not tuple

## Second Method - got a GeoDF with a children?

In [13]:
IM_csv = pd.read_csv(r'D:\OneDrive - PennO365\penn\5th\LARP 701\greenland_fin.csv')
#view try0 in a new window
IM_csv

,To_Country,MenImmigrations,MenEmigrations,WomenImmigrations,WomenEmigrations,Year
0,Denmark,0,0,0,0,1993
1,Faroe Islands,0,0,0,0,1993
2,Greenland,0,0,0,0,1993
3,Finland,0,0,0,0,1993
4,Iceland,28,4,4,2,1993
...,...,...,...,...,...,...
1765,Syria,0,0,0,0,2022
1766,Thailand,22,1,28,2,2022
1767,Vietnam,0,0,1,0,2022
1768,Other Asia,2,0,1,0,2022
1769,Oceania,1,0,1,1,2022

In [15]:
ct_shp = gpd.read_file(r'D:\OneDrive - PennO365\penn\5th\LARP 701\world_final.shp')
# rebane To_Country to Country
#ct_shp = ct_shp.rename(columns={'To_Country': 'Country'})
# join the geodataframe with the cleaned up csv dataframe
#ct_shpf  = ct_shp.merge(IM_csv, on='Country', how='left')
# ct_shpf = IM_csv.join(ct_shp.set_index('Country'), on='Country')
#ct_shpf2 = ct_shpf[['Country','Sex','Sta','2022','2023','geometry']]
ct_shp

,To_Country,continent,area_km2,pop,lifeExp,gdpPercap,geometry
0,Canada,America,1.003604e+07,3.553535e+07,81.953049,43079.142525,"MULTIPOLYGON (((-132.71001 54.04001, -131.7499..."
1,United States,America,9.510744e+06,3.186225e+08,78.841463,51921.984639,"MULTIPOLYGON (((-171.73166 63.78252, -171.1144..."
2,Somalia,Africa,4.843328e+05,1.351312e+07,55.467000,0.000000,"POLYGON ((41.58513 -1.68325, 40.99300 -0.85829..."
3,Russian Federation,Europe,1.701851e+07,1.438197e+08,70.743659,25284.586202,"MULTIPOLYGON (((179.99999 70.83220, 178.90342 ..."
4,Norway,Europe,3.979946e+05,0.000000e+00,0.000000,0.000000,"MULTIPOLYGON (((15.14282 79.67431, 15.52255 80..."
5,Greenland,Greenland,2.206644e+06,5.629500e+04,0.000000,0.000000,"POLYGON ((-46.76379 82.62796, -43.40644 83.225..."
6,France,Europe,6.448479e+05,0.000000e+00,0.000000,0.000000,"MULTIPOLYGON (((-51.65780 4.15623, -52.24934 3..."
7,Lebanon,Asia,1.009900e+04,5.603279e+06,79.231000,13831.375229,"POLYGON ((35.82110 33.27743, 35.55280 33.26427..."
8,Iraq,Asia,4.369650e+05,3.500608e+07,69.458000,14838.382948,"POLYGON ((39.19547 32.16101, 38.79234 33.37869..."
9,Thailand,Asia,5.101256e+05,6.841677e+07,74.895000,14857.202932,"POLYGON ((105.21878 14.27321, 104.28142 14.416..."
10,Vietnam,Asia,3.359908e+05,9.254492e+07,75.855000,5264.828100,"POLYGON ((104.33433 10.48654, 105.19991 10.889..."
11,India,Asia,3.142892e+06,1.293859e+09,68.021000,5385.141814,"POLYGON ((97.32711 28.26158, 97.40256 27.88254..."
12,Bangladesh,Asia,1.337821e+05,1.594053e+08,71.803000,2973.041565,"POLYGON ((92.67272 22.04124, 92.65226 21.32405..."
13,Pakistan,Asia,8.741200e+05,1.855463e+08,66.139000,4576.227015,"POLYGON ((77.83745 35.49401, 76.87172 34.65354..."
14,Afghanistan,Asia,6.522701e+05,3.275802e+07,62.895000,1838.960244,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
15,Iran,Asia,1.617559e+06,7.841109e+07,75.466000,16924.200678,"POLYGON ((48.56797 29.92678, 48.01457 30.45246..."
16,Syria,Asia,1.850041e+05,1.920309e+07,69.817000,0.000000,"POLYGON ((35.71992 32.70919, 35.70080 32.71601..."
17,Sweden,Europe,4.505816e+05,9.696110e+06,82.253659,44167.631867,"POLYGON ((11.02737 58.85615, 11.46827 59.43239..."
18,Belarus,Europe,2.089698e+05,9.474511e+06,72.970732,17944.209846,"POLYGON ((28.17671 56.16913, 29.22951 55.91834..."
19,Ukraine,Europe,5.725490e+05,4.527195e+07,71.186585,8243.473515,"POLYGON ((35.01266 45.73773, 35.02079 45.65122..."
20,Poland,Europe,3.104023e+05,3.801174e+07,77.602439,24347.073658,"POLYGON ((23.48413 53.91250, 23.52754 53.47012..."
21,Austria,Europe,8.506490e+04,8.546356e+06,81.490244,44320.502013,"POLYGON ((16.97967 48.12350, 16.90375 47.71487..."
22,Hungary,Europe,9.247646e+04,9.866468e+06,75.763415,24161.425524,"POLYGON ((22.08561 48.42226, 22.64082 48.15024..."
23,Romania,Europe,2.383563e+05,1.990898e+07,74.960976,19677.520253,"POLYGON ((28.23355 45.48828, 28.67978 45.30403..."
24,Lithuania,Europe,6.383109e+04,2.932367e+06,74.517073,26258.210097,"POLYGON ((26.49433 55.61511, 26.58828 55.16718..."
25,Latvia,Europe,6.392353e+04,1.993782e+06,74.124390,22172.253508,"POLYGON ((27.28818 57.47453, 27.77002 57.24426..."
26,Estonia,Europe,4.467820e+04,1.314545e+06,77.034146,27113.685921,"POLYGON ((27.98113 59.47537, 27.98112 59.47537..."
27,Germany,Europe,3.574303e+05,8.098250e+07,81.090244,43560.619244,"POLYGON ((14.11969 53.75703, 14.35332 53.24817..."
28,Bulgaria,Europe,1.102169e+05,7.223938e+06,74.465854,16302.320561,"POLYGON ((22.65715 44.23492, 22.94483 43.82379..."
29,Greece,Europe,1.319646e+05,1.089241e+07,81.385366,24081.630538,"MULTIPOLYGON (((22.95238 41.33799, 23.69207 41..."
30,Turkey,Asia,7.988492e+05,7.703063e+07,75.239000,22401.880431,"MULTIPOLYGON (((26.11704 41.82690, 27.13574 42..."
31,Switzerland,Europe,4.618525e+04,8.188649e+06,83.197561,57218.027926,"POLYGON ((9.59423 47.52506, 9.63293 47.34760, ..."
32,Luxembourg,Europe,2.416870e+03,5.563190e+05,82.229268,93655.334163,"POLYGON ((6.04307 50.12805, 6.24275 49.90223, ..."
33,Belgium,Europe,3.012604e+04,1.120906e+07,81.287805,41360.395576,"POLYGON ((6.15666 50.80372, 6.04307 50.12805, ..."
34,Netherlands,Europe,4.002410e+04,1.686501e+07,81.707317,45668.441472,"POLYGON ((6.90514 53.48216, 7.09205 53.14404, ..."
35,Portugal,Europe,9.340859e+04,1.040106e+07,81.121951,26023.697849,"POLYGON ((-9.03482 41.88057, -8.67195 42.13469..."
36,Spain,Europe,5.023065e+05,4.648088e+07,83.229268,31195.405242,"POLYGON ((-7.45373 37.09779, -7.53711 37.42890..."
37,Ireland,Europe,5.845751e+04,4.657740e+06,81.348780,48898.328662,"POLYGON ((-6.19788 53.86757, -6.03299 53.15316..."
38,Sri Lanka,Asia,6.537039e+04,2.077100e+07,74.906000,10650.390178,"POLYGON ((81.78796 7.52306, 81.63732 6.48178, ..."
39,China,Asia,9.409830e+06,1.364270e+09,75.932000,12758.647789,"MULTIPOLYGON (((80.25999 42.35000, 80.18015 42..."
40,Italy,Europe,3.151049e+05,6.078914e+07,83.090244,33945.843878,"MULTIPOLYGON (((8.70999 40.89998, 9.21001 41.2..."
41,Denmark,Denmark,4.275993e+04,5.643475e+06,80.700000,45057.074170,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8..."
42,United Kingdom,Europe,2.499864e+05,6.461316e+07,81.304878,38251.792480,"MULTIPOLYGON (((-6.19788 53.86757, -6.95373 54..."
43,Iceland,Europe,1.077357e+05,3.273860e+05,82.860976,41701.137265,"POLYGON ((-14.50870 66.45589, -14.73964 65.808..."
44,Philippines,Asia,2.922569e+05,1.001022e+08,68.813000,6585.895949,"MULTIPOLYGON (((118.50458 9.31638, 117.17427 8..."
45,Slovenia,Europe,1.911812e+04,2.061980e+06,81.078049,28417.656442,"POLYGON ((13.80648 46.50931, 14.63247 46.43182..."
46,Finland,Europe,3.412423e+05,5.461512e+06,81.180488,39017.537207,"POLYGON ((28.59193 69.06478, 28.44594 68.36461..."
47,Slovakia,Europe,4.706808e+04,5.418649e+06,76.812195,27285.284674,"POLYGON ((22.55814 49.08574, 22.28084 48.82539..."
48,Czech Republic,Europe,8.120760e+04,1.052535e+07,78.824390,29119.616612,"POLYGON ((15.01700 51.10667, 15.49097 50.78473..."
49,Japan,Asia,4.046199e+05,1.272760e+08,83.587805,37337.317406,"MULTIPOLYGON (((132.37118 33.46364, 132.92437 ..."
50,Cyprus,Asia,6.207006e+03,1.152309e+06,80.173000,29786.365653,"POLYGON ((32.73178 35.14003, 32.91957 35.08783..."
51,Morocco,Africa,5.917190e+05,3.431808e+07,75.309000,7078.881489,"POLYGON ((-2.16991 35.16840, -1.79299 34.52792..."
52,Ethiopia,Africa,1.132393e+06,9.736677e+07,64.535000,1424.526984,"POLYGON ((47.78942 8.00300, 44.96360 5.00162, ..."
53,Faroe Islands,Denmark,1.393000e+03,5.473800e+04,83.090000,58585.000000,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61..."
54,Other Africa,Africa,2.773775e+07,2.103643e+07,58.357729,4654.395934,"MULTIPOLYGON (((-16.84152 13.15139, -16.71373 ..."
55,Other America,America,2.049347e+07,2.224555e+07,71.405969,13010.095198,"MULTIPOLYGON (((-71.71236 19.71446, -71.58730 ..."
56,Oceania,Oceania,8.504489e+06,5.393976e+06,73.995679,13566.538068,"MULTIPOLYGON (((166.79316 -15.66881, 166.64986..."
57,Other Europe,Europe,2.962759e+05,3.237697e+06,75.223774,11902.682583,"MULTIPOLYGON (((18.82982 45.90887, 18.82984 45..."
58,Other Asia,Asia,1.237652e+07,2.096941e+07,67.564066,21326.184087,"MULTIPOLYGON (((128.34972 38.61224, 129.21292 ..."

In [5]:
ct_shpf_l0 = ct_shpf
ct_shpf_l0 = ct_shpf_l0.rename(columns={"2022": "val2022", "2023": "val2023"})

ct_shpf_long =  pd.wide_to_long(ct_shpf_l0, stubnames='val', i=['Country','Sex','Sta'], j='year')
# https://pandas.pydata.org/docs/reference/api/pandas.wide_to_long.html

In [6]:
ct_shpf_long

                                       lifeExp  \
Country       Sex   Sta          year
Denmark       Men   Immigrations 2022    80.70
                                 2023    80.70
                    Emigrations  2022    80.70
                                 2023    80.70
              Women Immigrations 2022    80.70
                                 2023    80.70
                    Emigrations  2022    80.70
                                 2023    80.70
Faroe Islands Men   Immigrations 2022    83.09
                                 2023    83.09
                    Emigrations  2022    83.09
                                 2023    83.09
              Women Immigrations 2022    83.09
                                 2023    83.09
                    Emigrations  2022    83.09
                                 2023    83.09

                                                                                geometry  \
Country       Sex   Sta          year
Denmark       Men   Immigrations 2022  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
                                 2023  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
                    Emigrations  2022  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
                                 2023  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
              Women Immigrations 2022  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
                                 2023  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
                    Emigrations  2022  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
                                 2023  MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...
Faroe Islands Men   Immigrations 2022  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...
                                 2023  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...
                    Emigrations  2022  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...
                                 2023  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...
              Women Immigrations 2022  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...
                                 2023  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...
                    Emigrations  2022  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...
                                 2023  MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...

                                           area_km2        pop    gdpPercap  \
Country       Sex   Sta          year
Denmark       Men   Immigrations 2022  42759.927703  5643475.0  45057.07417
                                 2023  42759.927703  5643475.0  45057.07417
                    Emigrations  2022  42759.927703  5643475.0  45057.07417
                                 2023  42759.927703  5643475.0  45057.07417
              Women Immigrations 2022  42759.927703  5643475.0  45057.07417
                                 2023  42759.927703  5643475.0  45057.07417
                    Emigrations  2022  42759.927703  5643475.0  45057.07417
                                 2023  42759.927703  5643475.0  45057.07417
Faroe Islands Men   Immigrations 2022   1393.000000    54738.0  58585.00000
                                 2023   1393.000000    54738.0  58585.00000
                    Emigrations  2022   1393.000000    54738.0  58585.00000
                                 2023   1393.000000    54738.0  58585.00000
              Women Immigrations 2022   1393.000000    54738.0  58585.00000
                                 2023   1393.000000    54738.0  58585.00000
                    Emigrations  2022   1393.000000    54738.0  58585.00000
                                 2023   1393.000000    54738.0  58585.00000

                                      continent  val
Country       Sex   Sta          year
Denmark       Men   Immigrations 2022   Denmark    0
                                 2023   Denmark    3
                    Emigrations  2022   Denmark    0
                                 2023   Denmark    3
              Women Immigrations 2022   Denmark    0
                                 2023   Denmark    3
                    Emigrations  2022   Denmark    0
                                 2023   Denmark    3
Faroe Islands Men   Immigrations 2022   Denmark    1
                                 2023   Denmark    4
                    Emigrations  2022   Denmark    0
                                 2023   Denmark    3
              Women Immigrations 2022   Denmark    0
                                 2023   Denmark    3
                    Emigrations  2022   Denmark    0
                                 2023   Denmark    3

In [7]:
ct_shpf_longsb = ct_shpf_long
ct_shpf_longsb.reset_index(inplace=True)
#ct_shpf_longsb[['level_0','index']]
ct_shpf_longsb

,Country,Sex,Sta,year,lifeExp,geometry,area_km2,pop,gdpPercap,continent,val
0,Denmark,Men,Immigrations,2022,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,0
1,Denmark,Men,Immigrations,2023,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,3
2,Denmark,Men,Emigrations,2022,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,0
3,Denmark,Men,Emigrations,2023,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,3
4,Denmark,Women,Immigrations,2022,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,0
5,Denmark,Women,Immigrations,2023,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,3
6,Denmark,Women,Emigrations,2022,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,0
7,Denmark,Women,Emigrations,2023,80.70,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",42759.927703,5643475.0,45057.07417,Denmark,3
8,Faroe Islands,Men,Immigrations,2022,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,1
9,Faroe Islands,Men,Immigrations,2023,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,4
10,Faroe Islands,Men,Emigrations,2022,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,0
11,Faroe Islands,Men,Emigrations,2023,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,3
12,Faroe Islands,Women,Immigrations,2022,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,0
13,Faroe Islands,Women,Immigrations,2023,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,3
14,Faroe Islands,Women,Emigrations,2022,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,0
15,Faroe Islands,Women,Emigrations,2023,83.09,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...",1393.000000,54738.0,58585.00000,Denmark,3

In [8]:
ct_shpf_df = pd.DataFrame(ct_shpf_longsb)
ct_shpf_df.drop("geometry",axis=1)
ct_shpf_geo = ct_shp[['Country','geometry']]

In [16]:
IM_csv

,To_Country,MenImmigrations,MenEmigrations,WomenImmigrations,WomenEmigrations,Year
0,Denmark,0,0,0,0,1993
1,Faroe Islands,0,0,0,0,1993
2,Greenland,0,0,0,0,1993
3,Finland,0,0,0,0,1993
4,Iceland,28,4,4,2,1993
...,...,...,...,...,...,...
1765,Syria,0,0,0,0,2022
1766,Thailand,22,1,28,2,2022
1767,Vietnam,0,0,1,0,2022
1768,Other Asia,2,0,1,0,2022
1769,Oceania,1,0,1,1,2022

In [43]:

j = (ct_shpf_df.groupby(['Country','continent','area_km2','pop','lifeExp','gdpPercap'])
       .apply(lambda x: x[['Sex','Sta','year','val']].to_dict('records'))
       .reset_index()
       .rename(columns={0:'data'})
#       .to_json(orient='records')
 )

# https://stackoverflow.com/questions/40470954/convert-pandas-dataframe-to-nested-json

In [24]:
j = (IM_csv.groupby(['To_Country'])
       .apply(lambda x: x.groupby('Year').apply(lambda y: y[['MenImmigrations','MenEmigrations','WomenImmigrations','WomenEmigrations']].to_dict('records')).to_dict())
       .reset_index()
       .rename(columns={0:'migdata'})
#       .to_json(orient='records')
)

In [18]:
j.to_clipboard()

In [25]:
ct_shpf_geof  = ct_shp.merge(j, on='To_Country', how='left')

In [26]:
ct_shpf_geof

,To_Country,continent,area_km2,pop,lifeExp,gdpPercap,geometry,migdata
0,Canada,America,1.003604e+07,3.553535e+07,81.953049,43079.142525,"MULTIPOLYGON (((-132.71001 54.04001, -131.7499...","{1993: [{'MenImmigrations': 4, 'MenEmigrations..."
1,United States,America,9.510744e+06,3.186225e+08,78.841463,51921.984639,"MULTIPOLYGON (((-171.73166 63.78252, -171.1144...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
2,Somalia,Africa,4.843328e+05,1.351312e+07,55.467000,0.000000,"POLYGON ((41.58513 -1.68325, 40.99300 -0.85829...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
3,Russian Federation,Europe,1.701851e+07,1.438197e+08,70.743659,25284.586202,"MULTIPOLYGON (((179.99999 70.83220, 178.90342 ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
4,Norway,Europe,3.979946e+05,0.000000e+00,0.000000,0.000000,"MULTIPOLYGON (((15.14282 79.67431, 15.52255 80...","{1993: [{'MenImmigrations': 15, 'MenEmigration..."
5,Greenland,Greenland,2.206644e+06,5.629500e+04,0.000000,0.000000,"POLYGON ((-46.76379 82.62796, -43.40644 83.225...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
6,France,Europe,6.448479e+05,0.000000e+00,0.000000,0.000000,"MULTIPOLYGON (((-51.65780 4.15623, -52.24934 3...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
7,Lebanon,Asia,1.009900e+04,5.603279e+06,79.231000,13831.375229,"POLYGON ((35.82110 33.27743, 35.55280 33.26427...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
8,Iraq,Asia,4.369650e+05,3.500608e+07,69.458000,14838.382948,"POLYGON ((39.19547 32.16101, 38.79234 33.37869...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
9,Thailand,Asia,5.101256e+05,6.841677e+07,74.895000,14857.202932,"POLYGON ((105.21878 14.27321, 104.28142 14.416...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
10,Vietnam,Asia,3.359908e+05,9.254492e+07,75.855000,5264.828100,"POLYGON ((104.33433 10.48654, 105.19991 10.889...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
11,India,Asia,3.142892e+06,1.293859e+09,68.021000,5385.141814,"POLYGON ((97.32711 28.26158, 97.40256 27.88254...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
12,Bangladesh,Asia,1.337821e+05,1.594053e+08,71.803000,2973.041565,"POLYGON ((92.67272 22.04124, 92.65226 21.32405...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
13,Pakistan,Asia,8.741200e+05,1.855463e+08,66.139000,4576.227015,"POLYGON ((77.83745 35.49401, 76.87172 34.65354...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
14,Afghanistan,Asia,6.522701e+05,3.275802e+07,62.895000,1838.960244,"POLYGON ((66.51861 37.36278, 67.07578 37.35614...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
15,Iran,Asia,1.617559e+06,7.841109e+07,75.466000,16924.200678,"POLYGON ((48.56797 29.92678, 48.01457 30.45246...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
16,Syria,Asia,1.850041e+05,1.920309e+07,69.817000,0.000000,"POLYGON ((35.71992 32.70919, 35.70080 32.71601...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
17,Sweden,Europe,4.505816e+05,9.696110e+06,82.253659,44167.631867,"POLYGON ((11.02737 58.85615, 11.46827 59.43239...","{1993: [{'MenImmigrations': 3, 'MenEmigrations..."
18,Belarus,Europe,2.089698e+05,9.474511e+06,72.970732,17944.209846,"POLYGON ((28.17671 56.16913, 29.22951 55.91834...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
19,Ukraine,Europe,5.725490e+05,4.527195e+07,71.186585,8243.473515,"POLYGON ((35.01266 45.73773, 35.02079 45.65122...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
20,Poland,Europe,3.104023e+05,3.801174e+07,77.602439,24347.073658,"POLYGON ((23.48413 53.91250, 23.52754 53.47012...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
21,Austria,Europe,8.506490e+04,8.546356e+06,81.490244,44320.502013,"POLYGON ((16.97967 48.12350, 16.90375 47.71487...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
22,Hungary,Europe,9.247646e+04,9.866468e+06,75.763415,24161.425524,"POLYGON ((22.08561 48.42226, 22.64082 48.15024...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
23,Romania,Europe,2.383563e+05,1.990898e+07,74.960976,19677.520253,"POLYGON ((28.23355 45.48828, 28.67978 45.30403...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
24,Lithuania,Europe,6.383109e+04,2.932367e+06,74.517073,26258.210097,"POLYGON ((26.49433 55.61511, 26.58828 55.16718...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
25,Latvia,Europe,6.392353e+04,1.993782e+06,74.124390,22172.253508,"POLYGON ((27.28818 57.47453, 27.77002 57.24426...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
26,Estonia,Europe,4.467820e+04,1.314545e+06,77.034146,27113.685921,"POLYGON ((27.98113 59.47537, 27.98112 59.47537...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
27,Germany,Europe,3.574303e+05,8.098250e+07,81.090244,43560.619244,"POLYGON ((14.11969 53.75703, 14.35332 53.24817...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
28,Bulgaria,Europe,1.102169e+05,7.223938e+06,74.465854,16302.320561,"POLYGON ((22.65715 44.23492, 22.94483 43.82379...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
29,Greece,Europe,1.319646e+05,1.089241e+07,81.385366,24081.630538,"MULTIPOLYGON (((22.95238 41.33799, 23.69207 41...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
30,Turkey,Asia,7.988492e+05,7.703063e+07,75.239000,22401.880431,"MULTIPOLYGON (((26.11704 41.82690, 27.13574 42...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
31,Switzerland,Europe,4.618525e+04,8.188649e+06,83.197561,57218.027926,"POLYGON ((9.59423 47.52506, 9.63293 47.34760, ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
32,Luxembourg,Europe,2.416870e+03,5.563190e+05,82.229268,93655.334163,"POLYGON ((6.04307 50.12805, 6.24275 49.90223, ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
33,Belgium,Europe,3.012604e+04,1.120906e+07,81.287805,41360.395576,"POLYGON ((6.15666 50.80372, 6.04307 50.12805, ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
34,Netherlands,Europe,4.002410e+04,1.686501e+07,81.707317,45668.441472,"POLYGON ((6.90514 53.48216, 7.09205 53.14404, ...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
35,Portugal,Europe,9.340859e+04,1.040106e+07,81.121951,26023.697849,"POLYGON ((-9.03482 41.88057, -8.67195 42.13469...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
36,Spain,Europe,5.023065e+05,4.648088e+07,83.229268,31195.405242,"POLYGON ((-7.45373 37.09779, -7.53711 37.42890...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
37,Ireland,Europe,5.845751e+04,4.657740e+06,81.348780,48898.328662,"POLYGON ((-6.19788 53.86757, -6.03299 53.15316...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
38,Sri Lanka,Asia,6.537039e+04,2.077100e+07,74.906000,10650.390178,"POLYGON ((81.78796 7.52306, 81.63732 6.48178, ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
39,China,Asia,9.409830e+06,1.364270e+09,75.932000,12758.647789,"MULTIPOLYGON (((80.25999 42.35000, 80.18015 42...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
40,Italy,Europe,3.151049e+05,6.078914e+07,83.090244,33945.843878,"MULTIPOLYGON (((8.70999 40.89998, 9.21001 41.2...","{1993: [{'MenImmigrations': 1, 'MenEmigrations..."
41,Denmark,Denmark,4.275993e+04,5.643475e+06,80.700000,45057.074170,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
42,United Kingdom,Europe,2.499864e+05,6.461316e+07,81.304878,38251.792480,"MULTIPOLYGON (((-6.19788 53.86757, -6.95373 54...","{1993: [{'MenImmigrations': 4, 'MenEmigrations..."
43,Iceland,Europe,1.077357e+05,3.273860e+05,82.860976,41701.137265,"POLYGON ((-14.50870 66.45589, -14.73964 65.808...","{1993: [{'MenImmigrations': 28, 'MenEmigration..."
44,Philippines,Asia,2.922569e+05,1.001022e+08,68.813000,6585.895949,"MULTIPOLYGON (((118.50458 9.31638, 117.17427 8...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
45,Slovenia,Europe,1.911812e+04,2.061980e+06,81.078049,28417.656442,"POLYGON ((13.80648 46.50931, 14.63247 46.43182...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
46,Finland,Europe,3.412423e+05,5.461512e+06,81.180488,39017.537207,"POLYGON ((28.59193 69.06478, 28.44594 68.36461...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
47,Slovakia,Europe,4.706808e+04,5.418649e+06,76.812195,27285.284674,"POLYGON ((22.55814 49.08574, 22.28084 48.82539...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
48,Czech Republic,Europe,8.120760e+04,1.052535e+07,78.824390,29119.616612,"POLYGON ((15.01700 51.10667, 15.49097 50.78473...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
49,Japan,Asia,4.046199e+05,1.272760e+08,83.587805,37337.317406,"MULTIPOLYGON (((132.37118 33.46364, 132.92437 ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
50,Cyprus,Asia,6.207006e+03,1.152309e+06,80.173000,29786.365653,"POLYGON ((32.73178 35.14003, 32.91957 35.08783...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
51,Morocco,Africa,5.917190e+05,3.431808e+07,75.309000,7078.881489,"POLYGON ((-2.16991 35.16840, -1.79299 34.52792...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
52,Ethiopia,Africa,1.132393e+06,9.736677e+07,64.535000,1424.526984,"POLYGON ((47.78942 8.00300, 44.96360 5.00162, ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
53,Faroe Islands,Denmark,1.393000e+03,5.473800e+04,83.090000,58585.000000,"MULTIPOLYGON (((-6.71094 61.63698, -6.70991 61...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
54,Other Africa,Africa,2.773775e+07,2.103643e+07,58.357729,4654.395934,"MULTIPOLYGON (((-16.84152 13.15139, -16.71373 ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
55,Other America,America,2.049347e+07,2.224555e+07,71.405969,13010.095198,"MULTIPOLYGON (((-71.71236 19.71446, -71.58730 ...","{1993: [{'MenImmigrations': 3, 'MenEmigrations..."
56,Oceania,Oceania,8.504489e+06,5.393976e+06,73.995679,13566.538068,"MULTIPOLYGON (((166.79316 -15.66881, 166.64986...","{1993: [{'MenImmigrations': 3, 'MenEmigrations..."
57,Other Europe,Europe,2.962759e+05,3.237697e+06,75.223774,11902.682583,"MULTIPOLYGON (((18.82982 45.90887, 18.82984 45...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."
58,Other Asia,Asia,1.237652e+07,2.096941e+07,67.564066,21326.184087,"MULTIPOLYGON (((128.34972 38.61224, 129.21292 ...","{1993: [{'MenImmigrations': 0, 'MenEmigrations..."

In [27]:
#ct_shpf_geof.to_file('dataframe2.geojson', driver='GeoJSON') ValueError: Invalid field type <class 'list'>
#https://stackoverflow.com/questions/70777743/convert-geopandas-geodataframe-to-geojson
with open('dataframe_testfinal.geojson' , 'w') as file:
    file.write(ct_shpf_geof.to_json())

this is a ref from R, but did not get time to test if that worked for SF....

In [47]:
STOP!

SyntaxError: invalid syntax (2635050600.py, line 1)

If create wide to long, try this's code

# ERROR

In [ ]:
df['geometry'] = df['geometry'].apply(wkt.loads)

# Now convert the pandas DataFrame to a GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry='geometry')

# Set the coordinate reference system (CRS) if known
gdf.set_crs(epsg=4326, inplace=True)

In [143]:
# geojson
def create_nested_structure(row):
    properties = row.drop('geometry').to_dict()  # Convert non-geometry columns to a dictionary
    properties['children'] = {'Sex': properties.pop('Sex'), 'Sta': properties.pop('Sta'),'Year': properties.pop('yer')}
    feature = {'type': 'Feature',
               'properties': properties,
               'geometry': json.loads(row['geometry'].to_json())}  # Convert geometry to GeoJSON
    return feature

# Apply the function to each row to create a list of GeoJSON features
features = ct_shpf_long.apply(create_nested_structure, axis=1).tolist()

# Create the final GeoJSON structure
geojson_structure = {'type': 'FeatureCollection', 'features': features}

# Convert the GeoJSON structure to a string
geojson_str = json.dumps(geojson_structure, indent=4)

# Save to a GeoJSON file
output_filename = 'output0.geojson'
with open(output_filename, 'w') as file:
    file.write(geojson_str)

KeyError: 'Sex'

In [113]:
ct_shpf.to_file('dataframe.geojson', driver='GeoJSON')

c:\Users\79038\anaconda3\envs\MUSA550\lib\site-packages\geopandas\io\file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [102]:
import networkx as nx

In [ ]:
g = nx.from_pandas_edgelist(ct_shpf, 'parent_id', 'child_id', create_using=nx.DiGraph())

df1 = df.rename(lambda x: '_'.join(x.split('_')[::-1]), axis=1)
df1 = pd.wide_to_long(df1.reset_index(), stubnames=['id', 'name'],
                i='index', j='type', suffix='\w+', sep='_')
d = {v: {'level': l, 'name': n} for v,l,n in zip(df1.id, df1.level, df1.name)}
root_id = df.loc[0, 'parent_id']
d[root_id]['level'] = 0

nx.set_node_attributes(g, d)
out = [tree_data_custom(g, root_id)]

In [125]:
data = {
    'tam': ['A', 'A', 'B', 'B', 'C', 'C'],
    'dram': ['cor', 'dis', 'cor', 'dis', 'cor', 'dis'],
    'green': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}
df = pd.DataFrame(data)
df

  tam dram green
0   A  cor   yes
1   A  dis    no
2   B  cor   yes
3   B  dis    no
4   C  cor   yes
5   C  dis    no

In [126]:
import json

# Assuming you have a DataFrame 'df' with columns 'tam', 'dram', and 'green'
# df = pd.DataFrame(...)

# Function to create a nested dictionary with 'children'
def nest_children(row):
    return {
        'tam': row['tam'],
        'children': {
            'dram': row['dram'],
            'green': row['green']
        }
    }

grouped = df.groupby('tam').apply(lambda x: x[['dram', 'green']].to_dict('records')).reset_index(name='children')

# Convert each row of the grouped DataFrame to the desired dictionary structure
nested_data = grouped.apply(lambda row: {'tam': row['tam'], 'children': row['children']}, axis=1).tolist()

# Convert the list of dictionaries to a JSON string
json_data = json.dumps(nested_data, indent=4)

In [ ]:
import json

# Assuming you have a DataFrame 'df' with columns 'tam', 'dram', and 'green'
# df = pd.DataFrame(...)

# Function to create a nested dictionary with 'children'
def nest_children(row):
    return {
        'tam': row['tam'],
        'tam': row['tam'],
        'tam': row['tam'],
        'tam': row['tam'],
        'tam': row['tam'],
        'tam': row['tam'],
        'tam': row['tam'],
        
        'children': {
            'dram': row['dram'],
            'green': row['green']
        }
    }

grouped = df.groupby('tam').apply(lambda x: x[['dram', 'green']].to_dict('records')).reset_index(name='children')

# Convert each row of the grouped DataFrame to the desired dictionary structure
nested_data = grouped.apply(lambda row: {'tam': row['tam'], 'children': row['children']}, axis=1).tolist()

# Convert the list of dictionaries to a JSON string
json_data = json.dumps(nested_data, indent=4)

In [127]:
json_data

'[\n    {\n        "tam": "A",\n        "children": [\n            {\n                "dram": "cor",\n                "green": "yes"\n            },\n            {\n                "dram": "dis",\n                "green": "no"\n            }\n        ]\n    },\n    {\n        "tam": "B",\n        "children": [\n            {\n                "dram": "cor",\n                "green": "yes"\n            },\n            {\n                "dram": "dis",\n                "green": "no"\n            }\n        ]\n    },\n    {\n        "tam": "C",\n        "children": [\n            {\n                "dram": "cor",\n                "green": "yes"\n            },\n            {\n                "dram": "dis",\n                "green": "no"\n            }\n        ]\n    }\n]'

In [124]:
json_data

'[\n    {\n        "tam": "A",\n        "children": {\n            "dram": "cor",\n            "green": "yes"\n        }\n    },\n    {\n        "tam": "A",\n        "children": {\n            "dram": "dis",\n            "green": "no"\n        }\n    },\n    {\n        "tam": "B",\n        "children": {\n            "dram": "cor",\n            "green": "yes"\n        }\n    },\n    {\n        "tam": "B",\n        "children": {\n            "dram": "dis",\n            "green": "no"\n        }\n    },\n    {\n        "tam": "C",\n        "children": {\n            "dram": "cor",\n            "green": "yes"\n        }\n    },\n    {\n        "tam": "C",\n        "children": {\n            "dram": "dis",\n            "green": "no"\n        }\n    }\n]'

In [123]:
nested_data

[{'tam': 'A', 'children': {'dram': 'cor', 'green': 'yes'}},
 {'tam': 'A', 'children': {'dram': 'dis', 'green': 'no'}},
 {'tam': 'B', 'children': {'dram': 'cor', 'green': 'yes'}},
 {'tam': 'B', 'children': {'dram': 'dis', 'green': 'no'}},
 {'tam': 'C', 'children': {'dram': 'cor', 'green': 'yes'}},
 {'tam': 'C', 'children': {'dram': 'dis', 'green': 'no'}}]

In [ ]:
grouped = df.groupby('tam').apply(lambda x: x[['dram', 'green']].to_dict('records')).reset_index(name='children')

In [130]:
from IPython.display import FileLink

# Save the JSON data to a file as before
filename = './daaata.json'  # Specify the path
with open(filename, 'w') as file:
    file.write(json_data)

# Create a download link for the file
FileLink('./daaata.json')

d:\OneDrive - PennO365\penn\5th\MUSA611\dashboard\daaata.json